<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cardinalpeak.firefoxurl</string>
	<key>connections</key>
	<dict>
		<key>20BCD7DD-ECE3-43B2-81CA-B1852194D24D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>999DEFEE-C4D2-4971-B61E-7758CE3FCCE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3570DB84-FBE8-4E10-B71D-C3E76F964E20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04C03C6B-A02C-405C-B6E6-E43A9328615F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A80B41E-CF25-4AE2-8FB4-50DCFBBA7B47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3570DB84-FBE8-4E10-B71D-C3E76F964E20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>999DEFEE-C4D2-4971-B61E-7758CE3FCCE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04C03C6B-A02C-405C-B6E6-E43A9328615F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>787BE3D6-2D3D-45A5-B2C7-22EDFBD78F58</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3936A960-C204-479E-8331-6FCA7854C9FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABDBBB23-2001-4D9E-8AD9-AE19C6C5B550</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F8C67AA-DC3C-4424-B2FC-F51CEEF766C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B0DC4DD-BFAB-4B6A-91C6-076B01FF8EC4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2396353C-90D1-4708-8126-F13404697D64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>73CEF5CC-0AC0-4772-ABF9-384019384E39</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E58E2CF8-E031-4560-B353-23F863DB19E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Howdy Pierce</string>
	<key>description</key>
	<string>Manipulate the active Firefox URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Firefox URL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./FFI.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3570DB84-FBE8-4E10-B71D-C3E76F964E20</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>04C03C6B-A02C-405C-B6E6-E43A9328615F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>markdown</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>net.shinyfrog.bear</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8A80B41E-CF25-4AE2-8FB4-50DCFBBA7B47</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3936A960-C204-479E-8331-6FCA7854C9FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7F8C67AA-DC3C-4424-B2FC-F51CEEF766C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:output_type}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>insert</string>
						<key>outputlabel</key>
						<string>Insert</string>
						<key>uid</key>
						<string>787BE3D6-2D3D-45A5-B2C7-22EDFBD78F58</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:output_type}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>Copy</string>
						<key>uid</key>
						<string>ABDBBB23-2001-4D9E-8AD9-AE19C6C5B550</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:output_type}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>chrome</string>
						<key>outputlabel</key>
						<string>Chrome</string>
						<key>uid</key>
						<string>5B0DC4DD-BFAB-4B6A-91C6-076B01FF8EC4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:output_type}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>safari</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>73CEF5CC-0AC0-4772-ABF9-384019384E39</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>999DEFEE-C4D2-4971-B61E-7758CE3FCCE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>url</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching URL...</string>
				<key>script</key>
				<string>./FFI.py "script_filter"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Paste the current URL in different ways</string>
				<key>title</key>
				<string>Manipulate the active Firefox URL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20BCD7DD-ECE3-43B2-81CA-B1852194D24D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2396353C-90D1-4708-8126-F13404697D64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:output_type}</string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E58E2CF8-E031-4560-B353-23F863DB19E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04C03C6B-A02C-405C-B6E6-E43A9328615F</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>20BCD7DD-ECE3-43B2-81CA-B1852194D24D</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>2396353C-90D1-4708-8126-F13404697D64</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>3570DB84-FBE8-4E10-B71D-C3E76F964E20</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3936A960-C204-479E-8331-6FCA7854C9FA</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>7F8C67AA-DC3C-4424-B2FC-F51CEEF766C0</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>8A80B41E-CF25-4AE2-8FB4-50DCFBBA7B47</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>999DEFEE-C4D2-4971-B61E-7758CE3FCCE2</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>E58E2CF8-E031-4560-B353-23F863DB19E0</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.cardinalpeak.com</string>
</dict>
</plist>
